#ignore all
*
#except
!*.c
!*.h
!.gitignore
!README.md
!exec.bat
!exec.sh
!atividades avaliativas 2022-2/
!atividades avaliativas 2022-2/*
!atividades avaliativas 2022-2/*/*
!atividades avaliativas 2023-1
!atividades avaliativas 2023-1/*
!atividades avaliativas 2023-1/*/*
!sala de aula/
!sala de aula/my/
!sala de aula/md5/
!sala de aula/revisao/