#ignore all
*
#except
!*.c
!*.h
!.gitignore
!README.md
!exec.bat
!exec.sh
!atividades avaliativas/
!atividades avaliativas/*
!atividades avaliativas/*/*
!sala de aula/
!sala de aula/my/
!sala de aula/md5/